
@{ 
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר של ספריית מתן</h1>
    <ul>
        <li class="one">@Html.ActionLink("משתמש חדש", "Create", "MembershipUsers", null)</li>
        <li class="two">@Html.ActionLink("משתמש קיים", "Login", "Account", null)</li>
        <li class="three">@Html.ActionLink("הוסף ספר", "Create", "Books", null)</li>
        <li class="four">@Html.ActionLink("חיפוש ספר", "Index", "Books", null)</li>
        <li class="five">@Html.ActionLink("צור קשר", "Privacy", "Home", null)</li>
    </ul>
</div>
