
@{ 
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר הלא רשמי של ספריית מתן</h1>
    <ol>
        <li>@Html.ActionLink("משתמש חדש", "Create", "MembershipUsers", null)</li>
        <li>@Html.ActionLink("משתמש קיים", "Login", "Account", null)</li>
        <li>@Html.ActionLink("ביצוע פעולה", "OrderABook", "Orders", null)</li>
        <li>@Html.ActionLink("חיפוש ספר", "Login", "Account", null)</li>
        <li>@Html.ActionLink("צור קשר", "Privacy", "Home", null)</li>
    </ol>
</div>
