
@{ 
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר של ספריית מתן</h1>
    <ol>
        <li>@Html.ActionLink("משתמש חדש", "Create", "MembershipUsers", null)</li>
        <li>@Html.ActionLink("משתמש קיים", "Login", "Account", null)</li>
        <li>@Html.ActionLink("הוסף ספר", "Create", "Books", null)</li>
        <li>@Html.ActionLink("ביצוע פעולה", "CreateAndDo", "Books", null)</li>
        <li>@Html.ActionLink("חיפוש ספר", "Index", "Books", null)</li>
        <li>@Html.ActionLink("צור קשר", "Privacy", "Home", null)</li>
    </ol>
</div>
