
@{
    ViewBag.Title = "Home";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר של ספריית מתן</h1>
    <ul style="list-style-type:none">
        <li>
            <button type="button" class="btn btn-lg btn-info" onclick="document.location='Books/Index'">
                <span class="glyphicon glyphicon-search"></span> חיפוש ספר
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-lg btn-info" onclick="document.location='MembershipUsers/Create'" >
                <span class="glyphicon glyphicon-plus"></span> משתמש חדש
            </button>
        |   <button type="button" class="btn btn-lg btn-info" onclick="document.location='Account/Login'" >
                <span class="glyphicon glyphicon-user"></span> בצע Login
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-lg btn-info" onclick="document.location='Home/Privacy'" >
                <span class="glyphicon glyphicon-envelope"></span> Support
            </button>
        </li>
        
    </ul>

</div>

<div class="blockquote-footer" dir="ltr">
    Non HTML supported - 
      @Html.ActionLink("משתמש חדש", "Create", "MembershipUsers", null)
    | @Html.ActionLink("בצע פעולה", "Login", "Account", null) 
    | @Html.ActionLink("הוסף ספר", "Create", "Books", null)
    | @Html.ActionLink("חיפוש ספר", "Index", "Books", null)
    | @Html.ActionLink("צור קשר", "Privacy", "Home", null)

</div>
