@model LibraryMatan.Models.OrderRequestViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAndDo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span dir="rtl">
                    ברוך הבא
                    @ViewBag.Name
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">זאנר</label>
                @Html.DropDownList("GenreId", new SelectList(ViewBag.GenreId, "Id", "GenreName"))
                <span asp-validation-for="GenreId" class="text-danger"></span> @Html.ActionLink("הוסף זאנר חדש", "Create", "Genres")
            </div>
            <div class="form-group">
                <label class ="control-label">
                    מה ברצונך לעשות?</label>
                    @Html.DropDownList("ActionToDo", new SelectList(ViewBag.ActionToDo, "Id", "DescriptionText"))
                    <span asp-validation-for="ActionToDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">משתמש</label>
                @Html.DropDownList("MembershipId", new SelectList(ViewBag.MembershipId, "Id", "UserNameText"))
                <span asp-validation-for="MembershipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
