@model BookSearchFilter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> 
    <a asp-action="Refresh">Refresh Data</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">שם</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">מחבר</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">זאנר</label>
                @Html.DropDownList("GenreId", new SelectList(ViewBag.GenreId, "Id", "GenreName", Model.GenreId))
            </div>
            <div class="form-group">
                <input type="submit" value="סנן" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               שם הספר
            </th>
            <th>
                מחבר
            </th>
            <th>
                מספר בקשות
            </th>
            <th>
               זאנר
            </th>
            <th>
                נוצר
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Result) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedTimes)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.GenreId, new SelectList(ViewBag.GenreId, "Id", "GenreName", item.GenreId))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @Html.ActionLink("קיים בספריה", "Verify", "VerifiedBookTitles", item) |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
